# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
.jupyter/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Generated artifacts
output/

# Docs
LEIAME.md

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temporary
*.tmp
*.temp
*~
.Trash-*

# Dados brutos
data/raw/*
!data/raw/.gitkeep

# Dados processados
data/processed_data/*
!data/processed_data/.gitkeep
